<h1><%=@chronicle.title%></h1>
<!-- edit chronicle -->
<%=button_to "edit", edit_chronicle_path(@chronicle.id), method: :get%>
<!-- end edit -->
<img src="<%=@chronicle.image.url%>">
<%=raw @chronicle.body%>
<%if @chronicle.reference_url%>
	<%=link_to @chronicle.reference_url, @chronicle.reference_url, target:"_blank"%><br>
<%end%>

<!-- categories -->
<h3>Categories:</h3>
<%@chronicle.chronicle_categories.each do |c|%>
	<%=link_to c.category.category_name, category_path(c.category.id)%> 
<%end%>
<!-- end categories -->