<!DOCTYPE html>
<html>
<head>
  <title>ORME</title>
  <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

  <!-- Latest compiled and minified CSS -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- navigation bar -->
	<nav>
		<ul>
		  <%if logged_in?%>
		  	<div id="left">
				  <li><%=link_to "ORME", root_path%></li>
				  <li><%=link_to "Explore", districts_path%></li>
				  <li><%=link_to "Profile", user_path(current_user.id)%></li>
				  <li><a href="#" class="add"><i class="fa fa-plus fa-lg"></i></a></li>
				</div>
				<div id="right"> 
			  <li><%=link_to "Log Out", logout_path, method: :delete%></li>
			  </div>
		  <%else%>
			  <li><%=link_to "ORME", root_path, id:'logo-nl'%></li>
			  <li><%=link_to "Log In", login_path%></li>
			  <li><%=link_to "Sign Up", new_user_path%></li>
		  <%end%>
		</ul>
	</nav>

	<div id="overlay"></div>
	<div class="modal">
		<div class="modal-content">
			<h1>Add Something Wonderful</h1>
			<%=button_to "Add Stack", new_stack_path, method: :get, class: "add-stack-btn"%>
			<%=button_to "Add Chronicle", new_chronicle_path, method: :get,class: "add-chronicle-btn"%>
		</div>
	</div>
	<!-- end of navigation bar -->
	<%=flash[:notice]%>

<%= yield %>

</body>
</html>
